@font-face
{
	font-family: 'Raleway';
	src: url('../fonts/Raleway-ExtraBoldItalic.woff2') format('woff2'),url('../fonts/Raleway-ExtraBoldItalic.woff') format('woff');
	font-weight: 800;
	font-style: italic;
}

@font-face
{
	font-family: 'Raleway';
	src: url('../fonts/Raleway-Bold.woff2') format('woff2'),url('../fonts/Raleway-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face
{
	font-family: 'Raleway';
	src: url('../fonts/Raleway-Italic.woff2') format('woff2'),url('../fonts/Raleway-Italic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face
{
	font-family: 'Raleway';
	src: url('../fonts/Raleway-Regular.woff2') format('woff2'),url('../fonts/Raleway-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

.bolosse
{
	/* classe pour la div du fond de l'img*/
	background-image: url("../img/road1.jpg");
	height: 60em;
	width: 100%;
	min-height: 40%;
	min-width: 4%;
	padding-top: 3em;
	/* permet de d&caler la div connexion */
	background-attachment: fixed;
}

.au
{
	/* div qui contient les infomrations de connexion */
	border: 4px solid;
	border-radius: 10px;
	margin-left: 10%;
	width: 35%;
	max-width: 40%;
	padding-bottom: 15%;
	position: absolute;
	height:50em;
}

div > h1
{
	padding-left: 22%;
	color: white;
	font-size: 4em;
	padding-top: 10%;
}

div > p
{
	color: white;
}

.btn
{
	color: white;
}

.form-inline
{
	padding-left: 15%;
	color: blue;
}

.form-inline > input
{
	border: 2px solid black;
	border-radius: 10px;
}

.btn
{
	/* pour contrer les boutons de connexion */
	background-color: white;
	color: black;
	margin-left: 70%;
	border-color: black;
}

.xx
{
	padding-top: 16%;
	padding-left: 15%;
	font-weight: bold;
}

.x
{
	padding-top: 0.2%;
	padding-left: 15%;
	font-weight: bold;
}

.dd
{
	/* div qui contient les infomrations d'inscription */
	border: 4px solid;
	border-radius: 10px;
	margin-left: 55%;
	width: 35%;
	max-width: 40%;
	padding-bottom: 9%;
	position: absolute;
	height:50em;
}

/*------------------------------------ NOUVEL PAGE---------------------*/
/* .hh
{
	background-img:url("../img/space.jpg");
	height: 60em;
} */

body
{
	margin: 0px;
}

.oo
{
	background-image: url("../img/s-1000-rr.jpg");
	width: 100%;
	height: 35em;
	background-repeat: no-repeat;
}

.left2
{
	background-color: white;
	display: flex;
	padding-top: 0.5%;
	flex-wrap: wrap;
	justify-content: space-around;
	border: 5px solid black;
	margin-left: 10%;
	margin-right: 10%;
}

.left
{
	color: black;
	align-items:center;
	transition: 1s;
	margin-left: 3em;
	margin-right:3em;
	font-weight: bold;
}

.ff
{
	border: 1px solid;
	border-radius: 10px;
	margin-left: 13%;
	width: 30%;
	max-width: 40%;
	margin-top: 10%;
	position: absolute;
	overflow: hidden;
}

.gg
{
	border: 1px solid;
	border-radius: 10px;
	margin-left: 57%;
	width: 30%;
	max-width: 40%;
	margin-top: 10%;
	position: absolute;
	overflow: hidden;
}


/*------------------------------------PAGE EQUIPEMENT------------------------------*/



#culot{
	background-color: #DBDBDB;
}

nav > div a.nav-item.nav-link,
nav > div a.nav-item.nav-link.active,
nav > div input.nav-item.nav-link
{
  border: none;
  padding: 18px 25px;
  color:#fff;
  background:#272e38;
  border-radius:0;

	box-sizing: border-box;
	border-color: #3c424b;
	border-style: solid;
	border-width: 0.5px;
}

nav > div input.nav-item.nav-link{
  background:#52575f;
}


nav > div a.nav-item.nav-link:hover,
nav > div a.nav-item.nav-link:focus
{
  border: none;
    background: orange;
    color:#fff;
    border-radius:0;
    transition:background 0.20s linear;
}


h3.h3
{
	text-align:center;
	margin:1em;
	font-weight:bold;
} /* TITRE  */



div#moto.product-grid {
	padding: 0 0 65px !important;
}

div.col-md-4.col-sm-6.col-sx-12 > div.product-grid > div.product-content {
	height: 90px !important;
}

	/********************* shopping Demo-1 **********************/

	h3.h3{ /* TITRE  */
	    text-align:center;
	    margin:1em;
	    font-weight:bold;
	    }


	.product-grid{
	    text-align:center;
	    padding:0 0 72px;
	    border:1px solid rgba(0,0,0,.1);
	    overflow:hidden;
	    position:relative;
	    z-index:1;
	}


	.product-grid .product-image img{
	    width:100%;
	    height:auto;
	}



	.product-grid .pic-2{/* permet a la deuxieme image de se mettre sur la premiere avec un effet de transition*/
	    opacity:0;
	    position:absolute;
	    top:0;
	    left:0;
	    transition:all .3s ease-out 0s;
	}

	#equipement.product-grid:hover .pic-2{/* fais la transition d'image*/
			transition: .3;
	    opacity:1;
	}

	#moto.product-grid:hover .pic-2{/* fais la transition d'image*/
			transition: .3;
			opacity:.8;
	}


	.product-grid .product-discount-label,
	.product-grid .product-new-label{/*taille des soldes, et couleur */
	    color:#fff;
	    background-color:#ef5777;
	    font-size:12px;
	    padding:2px 7px;
	    display:block;
	    position:absolute;
	    top:10px;
	    left:0
	}

	.product-grid .product-discount-label{ /* pour les soldes et réduction */
	    background-color:#333;
	    left:auto;
	    right:0
	}


	.product-grid .product-content{/* partie base du block*/
	    background-color:#fff;
	    padding:12px 0;
	    position:absolute;
	    left:0;
	    right:0;
	    bottom:-27px;
	    transition:all .3s
	}

	.product-grid:hover .product-content{/* ce qui donne l'effet de monter de liens et du prix */
	    bottom:0
	    }

	.product-grid .title{/*taille du h3 */
	    font-size:13px;
	}
	.product-grid .title a{ /*couleur de base  du h3 */
	    color:black;
	}


	.product-grid .price{/* ligne pour le prix*/
	    margin-bottom:8px;
	    text-align:center;
	    transition:all .3s;
	    }
	.product-grid .price span{/* ligne pour le prix*/
	    text-decoration:line-through;
	    margin-left:3px;
	    display:inline-block
	    }

	.product-grid .add-to-cart{/* lien permettant d'ajouter au panier*/
	    color:#000;
	    font-size:13px;
	    font-weight:600
	}

	.product-grid{margin-bottom:30px} /* espace entre les block*/
/* pour le footer */

section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer {
    background: orange !important;
}
#footer h5{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:#ffffff;
}
#footer ul.social li a:hover{
	color:#eeeeee;
}
#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

@media (max-width:767px){
	#footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
}


/* ==========BARRE DE FILTRE EQUIPEMENT========= */
.filtre {
background-color: #e83737;
color: white;
border: none;
cursor: pointer;
padding:20px;
margin-top:20px;
font-size: 30px;
}
.filtre:hover {
background-color: #ff4444;
}
.menu_filtre {
position: relative;
display: inline-block;
}
.menu_deroule {
display: none;
background-color: #f28c8c;
min-width: 50px;
}
.menu_deroule button {
color: white;
padding: 20px;
text-decoration: none;
display: block;
}
.menu_filtre:hover .menu_deroule {
display: block;
}



.boutonmenuprincipal {
background-color: #e83737;
color: white;
border: none;
cursor: pointer;
padding:20px;
margin-top:20px;
font-size: 30px;
}
.boutonmenuprincipal:hover {
background-color: #ff4444;
}
.dropdown {
position: relative;
display: inline-block;
}
.dropdown-child {
display: none;
background-color: #f28c8c;
min-width: 50px;
}
.dropdown-child a {
color: white;
padding: 20px;
text-decoration: none;
display: block;
}
.dropdown:hover .dropdown-child {
display: block;
}



/*------------------------------------
	Member area
------------------------------------*/
.sidebar-item.active, .sidebar-item:hover {
  background-color: #fff;
  border: 1px solid #e6e7e9;
  border-right: 0;
  margin-right: -1px;
}

.sidebar-menu {
  border-bottom: 1px solid #e6e7e9;
  border-top: 1px solid #e6e7e9;
  border-right: 1px solid #e6e7e9;
  padding-bottom: 1rem;
  padding-top: 1rem;
  background-color: #f4f4f4;
}

.sidebar-item {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  margin-bottom: 0.5rem;
  border: 1px solid transparent;
}

.sidebar-item.active:hover {
  background-color: #fff;
}

.card .icon-big {
  font-size: 3rem;
}

.card .icon-big .notif {
  position: absolute;
  min-width: 25px;
  border-radius: 5rem;
  font-size: 1rem;
  background: #dc3545;
  color: #fff;
}

.card .numbers {
  text-align: right;
}

.card .numbers p {
  font-size: 1rem;
  margin: 0;
}

.card .footer {
  padding: 0;
  line-height: 30px;
}

.side-notif {
  padding-left: 7px;
  padding-right: 7px;
  font-size: 0.8rem;
  border-radius: 5rem;
  background-color: #dc3545;
  color: #fff;
}

.statistics li {
  padding: 0.25rem 0;
}

.member-item:hover .card {
  background-color: #f4f4f4;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f4f4f4;
}

@media (max-width: 767.98px) {
  .sidebar-item.active, .sidebar-item:hover {
    border-right: 1px solid #e6e7e9;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
  }
}

/*===========EVENT LIST=======*/
